@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&family=Gowun+Batang&family=Jua&family=Nanum+Brush+Script&display=swap');

:root {
  --bg: #fffaf5;
  --text: #6b3816;
  --accent: #b48a78;
  --card: #ffffff;
  --muted: #666;
  white-space: pre-line;
}

* { box-sizing: border-box; }
html, body, #root { height: 98%; }
body {
  margin: 0;
  font-family: 'Gowun Batang', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;   /* 수평 가운데 */
  align-items: center;       /* 수직 가운데 */
  min-height: 100vh;         /* 화면 전체 높이 */
}
main {
  max-width: 600px;
  padding: 0 18px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.wrap {
  max-width: 720px;
  margin: 0 auto;
}

.cover {
  height: 200px;
  background: #ddd center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover::after {
  content: "";
  position: absolute; inset: 0;
  background: rgba(0,0,0,0.35);
}
.cover-inner {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
}
.title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: 'Playwrite US Trad Guides', cursive;
}
.title.sub{
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: 'Nanum Brush Script', cursive;
}
.names {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
}
.section {
  padding: 22px 18px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  /* border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06); */
}
.section-title {
  margin: 0 0 10px;
  color: var(--accent);
  font-size: 18px;
  font-weight: 700;
}
.message {
  margin: 0;
  line-height: 1.6;
  color: var(--muted);
  font-size: 18px;
  font-family: "Gowun Batang";
}
.date { font-size: 16px; font-weight: 600; }

.venue-name { font-weight: 600; }
.venue-address { color: var(--muted); margin-top: 4px; }

.grid.two {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
@media (min-width: 800px) {
  .grid.two { grid-template-columns: 1fr 1fr; }
}

.grid.three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid.three .btn {
  display: flex;              /* 내부 정렬 */
  flex-direction: column;     /* 이미지 위, 텍스트 아래 */
  align-items: center;        /* 가운데 정렬 */
  justify-content: center;
  padding: auto;
  background: #f9f9f9;
  border-radius: 8px;
  text-decoration: none;
}
.grid.three .map-label {
  width: 35px;   /* 아이콘 크기 고정 */
  height: auto;
}

.card {
  background: var(--card);
  border-radius: 12px;
  padding: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  margin: 0 auto;
}
.label { font-size: 15px; color: var(--accent); font-weight: 700; }
.value { margin-top: 6px; font-size: 15px; }

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 14px;
  background: var(--accent);
  color: #fff;
  border: 0; border-radius: 8px;
  font-weight: 600; text-decoration: none;
  margin: 10px auto;
}
.btn:hover { opacity: 0.95; }

.qr {
  display: block;
  margin-top: 10px;
  width: 100%;
  max-width: 180px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  cursor: zoom-in;
  margin: 10px auto;
}
.toggle-btn {
  margin-bottom: 10px;
  padding: 8px 12px;
  background: #f0f0f0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.tip {
  margin-top: 8px; font-size: 13px; color: var(--muted);
  text-align: center;
}

.footer {
  padding: 22px 18px;
  text-align: center;
  color: var(--muted);
  font-size: 13px;
}